---
layout: default
---
<article>
<h2><a class="permalink" href="{{ page.url }}">{{ page.title }}</a></h2>
<p class="meta">posted on {{ page.date | date: "%a, %b %d '%y" }} under tag{% if page.tags.size > 1 %}s{% endif %}:
  {% for tag in page.tags %}
  <a href="/tag/{{tag}}">{{tag}}</a>{% if forloop.last != true %}, {% endif %}
  {% endfor %}
</p>
{{ content }}
{% if page.link %}
<a href="{{ page.link }}" class="linkButton">Read the linked post</a><br><br>
{% endif %}
</article>
<h4>Like what you are reading? <a href="/follow">Subscribe</a> (by <a href="https://asd.learnlearn.in/feed.atom">RSS</a>, <a href="/follow">email</a>, <a href="https://social.learnlearn.in">mastodon</a>, or <a href="https://t.me/learnlearnin">telegram</a>)!</h4>
<hr>
<aside class="postFooter">
{% if page.next %}
Newer post: <a accesskey="k" href="{{ page.next.url }}" class="newerPostLink">{{ page.next.title }}</a><br>
{% endif %}
{% if page.previous %}
Older post: <a accesskey="j" href="{{ page.previous.url }}" class="olderPostLink">{{ page.previous.title }}</a>
{% endif %}
</aside>
